<html>
    <head>
        <title>captionme</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Link your image here:</h1>
        <form action = "/" method = "POST">
         <p><input type = "text" name = "image_url" class="input-box"/></p>
         <input type = "submit" class= "button" value = "Caption Me" />
      </form>
        
        
        <h1>Your Post:</h1>
        <img src = {{ image_url }} height="400" width="400">        
        <h3>" {{ caption }} "</h3>
        <h3>" {{ query }} "</h3>   
        <p>{{tags}}</p>
    </body>
</html>